body{
    background-color: darksalmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a:link{
    color: darkslategray;
}
a:visited{
    color: rgb(189, 62, 62)
}
a:hover{
    color: rgb(90, 20, 220)
}

